![تنزيل.jfif]()

# Detection of Apps Requirements Issues Based on Mining Arabic Users' Reviews:Play Store as a Case Study




Research Project By  :         Maha Abdullah Al-shamani (4160205)

Supervised by :  Dr. Mohammad Alsarem

#Phase1: Scrapping process

In [ ]:
pip install google_play_scraper

Collecting google_play_scraper
  Downloading https://files.pythonhosted.org/packages/ac/de/87c97ba42c156e53f0eb67a2b68a13d6f77da98d24f6d52f70c631c8e526/google-play-scraper-0.1.2.tar.gz (49kB)
     |████████████████████████████████| 51kB 2.7MB/s
Building wheels for collected packages: google-play-scraper
  Building wheel for google-play-scraper (setup.py) ... done
  Created wheel for google-play-scraper: filename=google_play_scraper-0.1.2-cp37-none-any.whl size=22280 sha256=98b598d1e263da1da4646290bc1b8ba9f9062d889fb106b0571a7ff07b88b60b
  Stored in directory: /root/.cache/pip/wheels/c3/0c/dc/847f7da787b7d2c28b26a5062f86eac3f16a8cb0bdfdc1f308
Successfully built google-play-scraper
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-0.1.2

In [ ]:
# this will write the file to the default python dir in: %USERPROFILE%\AppData\Local\Programs\Python\Python38-32 for each app id 
from google_play_scraper import Sort, reviews

result, ct = reviews('com.lean.sehhaty', lang='ar', country='sa' , count= 50000)
allreview = [ r['content'] for r in result]
 
file=open('com.lean.sehhaty.txt', 'w' , encoding='utf8')  
file.write('\n'.join(allreview)) 
file.close()

In [ ]:
#output example 
from google_play_scraper import Sort, reviews
result, ct = reviews('com.lean.sehhaty', lang='ar', country='sa' , count= 5)

for r in result:
	print (r['userName'] , r['content'] , r['score'] , r['at'] , sep=" | ")

HASSAN AlShammari | انا من يومين و احاول اسوي نسيت كلمة المرور وكل ما احط رقم الهويه و تاريخ الميلاد يكتب لي خطأ نرجو التحقق من البيانات المدخله و انا متاكد من رقم الهويه و تاريخ الميلاد | 3 | 2021-04-16 21:48:41
محمود سعيد | ممتاز | 5 | 2021-04-16 21:47:46
خالد القحطاني | ممممممممممممتاز | 5 | 2021-04-16 21:33:37
gaaz arredh | حلو | 1 | 2021-04-16 21:23:16
ديكورات الزجاج أيوب | برنامج جيدا جدا | 4 | 2021-04-16 20:34:09

In [ ]:
#tetaman 
tetaman = pd.read_csv('/content/tetaman.csv',sep=';')
tetaman = tetaman.rename(columns={'Score': 'Rating'})
#tetaman.drop(tetaman.columns[[9]], axis=1, inplace=True)
tetaman.rename(columns={ tetaman.columns[4]: "thumbsUp" }, inplace = True)

tetaman['app'] = 'tetaman'

tetaman.head()

         UserName  ...      app
0       Yaser Co   ...  tetaman
1   ابراهيم هزام   ...  tetaman
2    نواف الحربي   ...  tetaman
3  ahmed ghazala   ...  tetaman
4   ELSyed Attia   ...  tetaman

[5 rows x 7 columns]

In [ ]:
tetaman.shape

(1356, 7)

In [ ]:
sehhah = pd.read_csv('/content/ubieva.csv',sep=';')
sehhah.rename(columns={ sehhah.columns[4]: "thumbsUp" }, inplace = True)

sehhah['app'] = 'sehhah'

sehhah.head()

          UserName                                      Review  ...  Version     app
0        ابوعلي ؟                                       ممتاز   ...   1.0.35  sehhah
1  Khalifa Alking                                       مرحبا   ...   1.0.35  sehhah
2        Nasser A                                   ممتاز جدا   ...   1.0.35  sehhah
3     مناحل مواسل                                       ممتاز   ...   1.0.35  sehhah
4        Hamood G    جزاكم الله كل خير واسعدكم في الدارين 🌹❤️   ...   1.0.35  sehhah

[5 rows x 7 columns]

In [ ]:
sehhah.shape

(2050, 7)

In [ ]:
mawid = pd.read_csv('/content/mawid.csv',sep=';')
mawid.drop(mawid.columns[[6,7]], axis=1, inplace=True)
mawid.rename(columns={ mawid.columns[4]: "thumbsUp" }, inplace = True)


mawid['app'] = 'mawid'

mawid.head()

                 UserName  ...    app
0             Leen Ahmed   ...  mawid
1  abdulwahab aldhuwaihi   ...  mawid
2            نواف السهلي   ...  mawid
3       Jarallah Almalki   ...  mawid
4             Amal Alofi   ...  mawid

[5 rows x 7 columns]

In [ ]:
mawid.shape

(20007, 7)

In [ ]:
tabaud = pd.read_csv('/content/tabaud.csv',sep=';')
tabaud.drop(tabaud.columns[[6,7,8]], axis=1, inplace=True)
tabaud.rename(columns={ tabaud.columns[4]: "thumbsUp" }, inplace = True)

tabaud['app'] = 'tabaud'

tabaud.head()

         UserName  ...     app
0  Running Sport   ...  tabaud
1       وطن عمري   ...  tabaud
2  Khalid feysal   ...  tabaud
3   سعيد باخريصة   ...  tabaud
4    Adel AlAwad   ...  tabaud

[5 rows x 7 columns]

In [ ]:
tabaud.shape

(2369, 7)

In [ ]:
sehhaty = pd.read_csv('/content/sehhaty.csv',sep=';')
sehhaty.rename(columns={ sehhaty.columns[4]: "thumbsUp" }, inplace = True)

sehhaty['app'] = 'sehhaty'
#sehhaty.drop(sehhaty.columns[[9,10]], axis=1, inplace=True)
sehhaty.head()

        UserName                                     Review  ...  Version      app
0    Ahmad Badi    اشكر القائمين على البرنامج والله يوفقكم   ...    2.3.8  sehhaty
1   riyad ahmad               اشكر قايمين على هذا البرنامج   ...    2.3.8  sehhaty
2  Ahmad Alnjie                                      ممتاز   ...    2.3.7  sehhaty
3  Jameel Faden                                  واضح وسهل   ...    2.3.7  sehhaty
4     Wad Hamor                                  ممتاز جدا   ...    2.3.7  sehhaty

[5 rows x 7 columns]

In [ ]:
sehhaty.shape

(4975, 7)

In [ ]:
tawakkalna = pd.read_csv('/content/tawakkalna.csv',sep=';')
tawakkalna.rename(columns={ tawakkalna.columns[4]: "thumbsUp" }, inplace = True)

tawakkalna['app'] = 'tawakkalna'

tawakkalna.head()

                  UserName  ...         app
0         خالد عبد الرحمن   ...  tawakkalna
1               زايد عواض   ...  tawakkalna
2  Son of Yemen ابن اليمن   ...  tawakkalna
3               مصعب محمج   ...  tawakkalna
4            السيد السقاف   ...  tawakkalna

[5 rows x 7 columns]

In [ ]:
tawakkalna.shape

(21009, 7)

In [ ]:
frames = [tetaman, sehhah, mawid, tabaud, tawakkalna, sehhaty]

final_df = pd.concat(frames)
final_df.reset_index(drop=True, inplace=True)

In [ ]:
final_df.shape

(51766, 7)

In [ ]:
final_df.head(10)

         UserName  ...      app
0       Yaser Co   ...  tetaman
1   ابراهيم هزام   ...  tetaman
2    نواف الحربي   ...  tetaman
3  ahmed ghazala   ...  tetaman
4   ELSyed Attia   ...  tetaman
5      ماجد غازي   ...  tetaman
6    انور القدسي   ...  tetaman
7     اسلام سعيد   ...  tetaman
8   Wesam Yousif   ...  tetaman
9      adel saed   ...  tetaman

[10 rows x 7 columns]

In [ ]:
final_df.to_csv('df.csv',encoding='utf-8-sig')

# Phase2 : Feature engineering process

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Arabic-names-gender-classification/arabic_names_with_gender.csv') #https://github.com/bibs2091/Arabic-names-gender-classification

In [ ]:
from langdetect import detect

In [ ]:
#Detect the language of reviews to help in filtering process 
lan_review = []
for i in range(0,len(final_df.Review)):
    try: 
        lang = detect(final_df.Review[i])
        print(i)
        if lang == 'ar':
            lan_review.append('Arabic')
        else:
            lan_review.append('Non-Arabic')
    except:
        lan_review.append('Non-Arabic')

In [ ]:
#seperate the first name to help model in gender detection
firstName = []
for i in range(0,len(final_df.Review)):
    x = final_df.UserName[i]
    try:
        first = x.split()[0]
        firstName.append(first)

        
        print(i)
      
    except:
        firstName.append('Not_found')
final_df['firstName'] = firstName

In [ ]:
gender = []
for i in range(0,len(final_df.Review)):
    x = final_df.firstName[i]
    try:
        gen = predict(model,x)
        gender.append(gen)

        
        print(i)
      
    except:
        gender.append('Not_found')

final_df['Gender'] = gender

In [ ]:
#add a review length  colomn 
final_df["ReviewLength"]= final_df["Review"].str.len()

In [ ]:
#add a word count column 
count = final_df['Review'].str.split().str.len()
final_df["words_count"] = count

In [ ]:
!pip install camel-tools

In [ ]:
import camel_tools
from camel_tools.sentiment import SentimentAnalyzer

In [ ]:
sa = SentimentAnalyzer.pretrained()

In [ ]:
#predict the review sentiment 
sentiments = []
for i in range(0,len(final_df.Review)):
    
    
    x = final_df.Review[i]
    try:
        

        xx = sa.predict_sentence(x)
        sentiments.append(xx)


    except:
        sentiments.append('No_sentment_extracted')
    print(i)

In [ ]:
final_df["Polarity sentiment"] = sentiments

In [ ]:
#dataset after feature engineering

In [ ]:
df = pd.read_csv("/content/final_df.csv", sep=';' )

In [ ]:
df.head()

         UserName  ... Polarity sentiment
0       Yaser Co   ...           positive
1   ابراهيم هزام   ...           positive
2    نواف الحربي   ...            neutral
3  ahmed ghazala   ...            neutral
4   ELSyed Attia   ...           negative

[5 rows x 13 columns]

# Phase3 : Exploraity Data Analysis

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/final_df.csv',sep=';')

In [ ]:
df.shape

(51766, 13)

In [ ]:
df.dtypes

UserName               object
Review                 object
Score                 float64
Date/Time              object
thumbsUp              float64
Version                object
app                    object
lan_review             object
firstName              object
Gender                 object
ReviewLength          float64
words_count           float64
Polarity sentiment     object
dtype: object

In [ ]:
#missing values
df.isnull().sum()

UserName               1
Review                14
Score                 61
Date/Time             35
thumbsUp              59
Version               56
app                    0
lan_review             0
firstName              0
Gender                 0
ReviewLength          14
words_count           14
Polarity sentiment     0
dtype: int64

In [ ]:
df.isnull().sum().sum()

254

In [ ]:
(254/51766)*100

0.49066955144303215

In [ ]:
import matplotlib.pyplot as plt

# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Missing Values', 'Dataset'
sizes = [0.49066, 99.50934]

fig = plt.figure(figsize =(10, 7))
plt.pie(sizes, labels = labels)



plt.show

In [ ]:
#Handling missing values
df['Review'].fillna('No review', inplace=True)

In [ ]:
df['UserName'].fillna('No name', inplace=True)

In [ ]:
df['thumbsUp'].fillna(0, inplace=True)

In [ ]:
median = df['Score'].median()
df['Score'].fillna(median, inplace=True)

In [ ]:
df['ReviewLength'].fillna(0, inplace=True)

In [ ]:
df['words_count'].fillna(0, inplace=True)

In [ ]:
df['Date/Time'].fillna(method='ffill',inplace=True)

In [ ]:
df['Version'].fillna(method='ffill',inplace=True)

In [ ]:
df.isnull().sum()

UserName              0
Review                0
Score                 0
Date/Time             0
thumbsUp              0
Version               0
app                   0
lan_review            0
firstName             0
Gender                0
ReviewLength          0
words_count           0
Polarity sentiment    0
dtype: int64

In [ ]:
df.to_csv('clean_dataset.csv',encoding='UTF-8-sig')

In [ ]:
df['ReviewLength'].mean()

29.89925820036317

In [ ]:
df['words_count'].mean()

5.186396476451725

In [ ]:
Review_lengths = np.array(list(map(len, df.Review.str.split(' '))))

print("The average number of words in a review is: {}.".format(np.mean(Review_lengths)))
print("The minimum number of words in a review is: {}.".format(min(Review_lengths)))
print("The maximum number of words in a review is: {}.".format(max(Review_lengths)))

The average number of words in a review is: 7.184831742842793.
The minimum number of words in a review is: 1.
The maximum number of words in a review is: 120.

In [ ]:
fig, ax = plt.subplots(figsize=(15,6))

ax.set_title("Distribution of number of words", fontsize=16)
ax.set_xlabel("Number of words")
sns.distplot(Review_lengths, bins=50, ax=ax);

# Phase4 : Data Preprocessing

In [ ]:
df = pd.read_csv("/content/apps_ar_reviews_dataset.csv", sep=',' )

In [ ]:
df = pd.read_csv("/content/final_df.csv", sep=';')

In [ ]:
df.head(2)

In [ ]:
plt.style.use('ggplot')
sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
import os, pickle, re, string
from string import punctuation
from nltk.corpus import stopwords

In [ ]:
#Preprocessing on [Review] column
#•	Removed emojis from review 
df['Review'] = df['Review'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

In [ ]:
#•	Removed reviews with one- or two-word counts
# if there is one/two word count review remove the rows 
df.loc[df['words_count'] == 1.0]

In [ ]:
df=df[df.words_count != 1.0]
df

In [ ]:
df.loc[df['words_count'] == 2.0]

In [ ]:
df=df[df.words_count != 2.0]
df

In [ ]:
#•	Removed reviews with 5 score rating
df.loc[df['Score'] == 5.0]

In [ ]:
df=df[df.Score != 5.0]
df

In [ ]:
import nltk
nltk.download('punkt')

In [ ]:
# detect the review that has english character only 
spec_chars = ["A",'B',"C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","S","T","W","X","Y","Z","a","b",
              "c","d","e","f","g","h",'i','j','k','l','m','n','o','p','q','s','t','w','x','y','z']
for char in spec_chars:
    df['Review'] = df['Review'].str.replace(char, ' ')

In [ ]:
df["Review"]

In [ ]:
#remove the whitespace 
df.columns = df.columns.str.replace(' ', '')

In [ ]:
# remove all attriburtes from main df and keep review
clean_split = pd.DataFrame(df, columns = ['Review'])
clean_split

In [ ]:
import nltk

nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('arabic')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
#Spacy Imports
import spacy
from spacy.lang.ar import Arabic
nlp_spacy = Arabic()

In [ ]:
from gensim.parsing.preprocessing import remove_stopwords
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
set(stopwords.words('arabic'))

{'آه',
 'آها',
 'آي',
 'أف',
 'أقل',
 'أكثر',
 'ألا',
 'أم',
 'أما',
 'أن',
 'أنا',
 'أنت',
 'أنتم',
 'أنتما',
 'أنتن',
 'أنى',
 'أو',
 'أولئك',
 'أولاء',
 'أوه',
 'أي',
 'أين',
 'أينما',
 'أيها',
 'إذ',
 'إذا',
 'إذما',
 'إذن',
 'إلا',
 'إلى',
 'إليك',
 'إليكم',
 'إليكما',
 'إليكن',
 'إما',
 'إن',
 'إنا',
 'إنما',
 'إنه',
 'إي',
 'إيه',
 'التي',
 'الذي',
 'الذين',
 'اللائي',
 'اللاتي',
 'اللتان',
 'اللتيا',
 'اللتين',
 'اللذان',
 'اللذين',
 'اللواتي',
 'بخ',
 'بس',
 'بعد',
 'بعض',
 'بك',
 'بكم',
 'بكما',
 'بكن',
 'بل',
 'بلى',
 'بما',
 'بماذا',
 'بمن',
 'بنا',
 'به',
 'بها',
 'بهم',
 'بهما',
 'بهن',
 'بي',
 'بيد',
 'بين',
 'تلك',
 'تلكم',
 'تلكما',
 'ته',
 'تي',
 'تين',
 'تينك',
 'ثم',
 'ثمة',
 'حاشا',
 'حبذا',
 'حتى',
 'حيث',
 'حيثما',
 'حين',
 'خلا',
 'دون',
 'ذا',
 'ذات',
 'ذاك',
 'ذان',
 'ذانك',
 'ذلك',
 'ذلكم',
 'ذلكما',
 'ذلكن',
 'ذه',
 'ذو',
 'ذوا',
 'ذواتا',
 'ذواتي',
 'ذي',
 'ذين',
 'ذينك',
 'ريث',
 'سوف',
 'سوى',
 'شتان',
 'عدا',
 'عسى',
 'عل',
 'على',
 'عليك',
 'عليه',
 'عما',
 'عن',
 'عند',
 'غير',
 'فإذا',
 'فإن',
 'فلا',
 'فمن',
 'في',
 'فيم',
 'فيما',
 'فيه',
 'فيها',
 'قد',
 'كأن',
 'كأنما',
 'كأي',
 'كأين',
 'كذا',
 'كذلك',
 'كل',
 'كلا',
 'كلاهما',
 'كلتا',
 'كلما',
 'كليكما',
 'كليهما',
 'كم',
 'كما',
 'كي',
 'كيت',
 'كيف',
 'كيفما',
 'لئن',
 'لا',
 'لاسيما',
 'لدى',
 'لست',
 'لستم',
 'لستما',
 'لستن',
 'لسن',
 'لسنا',
 'لعل',
 'لك',
 'لكم',
 'لكما',
 'لكن',
 'لكنما',
 'لكي',
 'لكيلا',
 'لم',
 'لما',
 'لن',
 'لنا',
 'له',
 'لها',
 'لهم',
 'لهما',
 'لهن',
 'لو',
 'لولا',
 'لوما',
 'لي',
 'ليت',
 'ليس',
 'ليسا',
 'ليست',
 'ليستا',
 'ليسوا',
 'ما',
 'ماذا',
 'متى',
 'مذ',
 'مع',
 'مما',
 'ممن',
 'من',
 'منذ',
 'منه',
 'منها',
 'مه',
 'مهما',
 'نحن',
 'نحو',
 'نعم',
 'هؤلاء',
 'ها',
 'هاتان',
 'هاته',
 'هاتي',
 'هاتين',
 'هاك',
 'هاهنا',
 'هذا',
 'هذان',
 'هذه',
 'هذي',
 'هذين',
 'هكذا',
 'هل',
 'هلا',
 'هم',
 'هما',
 'هن',
 'هنا',
 'هناك',
 'هنالك',
 'هو',
 'هي',
 'هيا',
 'هيت',
 'هيهات',
 'وإذ',
 'وإذا',
 'وإن',
 'والذي',
 'والذين',
 'ولا',
 'ولكن',
 'ولو',
 'وما',
 'ومن',
 'وهو',
 'يا'}

In [ ]:
#NLTK Imports
from nltk.corpus import stopwords

In [ ]:
import nltk
from nltk.tokenize import WhitespaceTokenizer

nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('arabic')

tokenizer = WhitespaceTokenizer()

clean_words = [tokenizer.tokenize(t) for t in clean_split]

clean_words = [[t for t in text if t not in stop_words] for text in clean_words]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
example_review = clean_split.iloc[6000]
print(example_review['Review'])

 التطبيق لايتحمل معلق ومشكورين على حرصكم وزادكم الله من فضله

In [ ]:
import nltk
print (nltk.word_tokenize(example_review['Review']))

['التطبيق', 'لايتحمل', 'معلق', 'ومشكورين', 'على', 'حرصكم', 'وزادكم', 'الله', 'من', 'فضله']

In [ ]:
clean_split['Review']=clean_split['Review'].apply(str)

In [ ]:
def identify_tokens(row):
    review = row['Review']
    tokens = nltk.word_tokenize(review)
    # taken only words (not punctuation)
    token_words = [w for w in tokens if w.isalnum()]
    return token_words

clean_split['words'] = clean_split.apply(identify_tokens, axis=1)

In [ ]:
from nltk.stem import PorterStemmer
stemming = PorterStemmer()

In [ ]:
def stem_list(row):
    my_list = row['words']
    stemmed_list = [stemming.stem(word) for word in my_list]
    return (stemmed_list)

clean_split['stemmed_words'] = clean_split.apply(stem_list, axis=1)

In [ ]:
from nltk.corpus import stopwords
stops = set(stopwords.words("arabic"))                  

def remove_stops(row):
    my_list = row['stemmed_words']
    meaningful_words = [w for w in my_list if not w in stops]
    return (meaningful_words)

clean_split['stem_meaningful'] = clean_split.apply(remove_stops, axis=1)

In [ ]:
def rejoin_words(row):
    my_list = row['stem_meaningful']
    joined_words = ( " ".join(my_list))
    return joined_words

clean_split['processed'] = clean_split.apply(rejoin_words, axis=1)

In [ ]:
clean_split

In [ ]:
processed_Review = pd.DataFrame(clean_split, columns = ['processed'])
processed_Review

                                               processed
2      تحميلك للتطبيق بالخطأ يدخلك عزل لمدة ١٤ يوم بش...
3            يعمل يستجيب مرحلة التسجيل لايتم ارسال الكود
4      للأسف تطبيق سيئ جدا بقالي يومين بحاول اسجل يرس...
6      قدرت اسجل التطبيق اوصل ل آخر خطوه وهي كود التح...
7      نزلت البرنامج اكثر مره وسجلت بياناتي كلها لاني...
...                                                  ...
51760  استطع تسجيل جديد ورطونا بالاجازات المرضيه اطبع...
51761  التطبيق مهم ياريت تربطون الدخول بنفس بيانات ال...
51763    تجربة سيئة وتطبيق غبي أستطيع عمل التسجيل الجديد
51764  مشاكل استطيع اختيار المركز ابي اطلع الاجازة قد...
51765         تطبيق فاشل المدن موجوده والا الأحياء واضحه

[7785 rows x 1 columns]

# Phase5 : Word representation&hyperparameter tuning

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
plt.style.use('ggplot')
sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
import os, pickle, re, string
from string import punctuation
from nltk.corpus import stopwords
# model imports
from gensim.models.ldamulticore import LdaMulticore
from gensim.models.word2vec import Word2Vec
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
# languange processing imports
import nltk
from gensim.corpora import Dictionary
from collections import Counter

import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *

In [ ]:
df = pd.read_csv("/content/split_dataset.csv", sep=',' )

In [ ]:
processed_Review = pd.DataFrame(df, columns = ['processed'])
processed_Review

In [ ]:
processed_Review['processed'] = processed_Review['processed'].astype(str)

In [ ]:
import gensim
from gensim.utils import simple_preprocess
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords


def sent_to_words(sentences):
    for sentence in sentences:
        # deacc=True removes punctuations
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))


data = processed_Review.values.tolist()
data_words = list(sent_to_words(data))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
#create bag of word 
words = []

for i in processed_Review['processed']:
  words.append(i.split(' '))

In [ ]:
dictionary = gensim.corpora.Dictionary(words)

count = 0
for k, v in dictionary.iteritems():
  print(k, v)
  count += 1
  if count > 10:
    break

In [ ]:
## Filter out tokens in the dictionary by their frequency.
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [ ]:
#Create Corpus -> term document frequency
bow_corpus = [dictionary.doc2bow(doc) for doc in words]
bow_corpus[7781]

In [ ]:
bow_doc_7781 = bow_corpus[7781]

for i in range(len(bow_doc_7781)):
  print("Word {} (\"{}\") appears {} time.".format(bow_doc_7781[i][0], 
                                                   dictionary[bow_doc_7781[i][0]], bow_doc_7781[i][1]))

In [ ]:
def document_to_bow(processed):
  bow_corpus = [dictionary.doc2bow(doc) for doc in words]
  processed['bow'] = list(map(lambda doc: bow_doc_7781 , processed_Review.processed))
    
document_to_bow(processed_Review)

In [ ]:
#tf-idf corpus
from gensim import corpora, models

tfidf = models.TfidfModel(bow_corpus)

In [ ]:
corpus_tfidf = tfidf[bow_corpus]

In [ ]:
from pprint import pprint

for doc in corpus_tfidf:
    pprint(doc)
    break

In [ ]:
#this cell will run  througth diffrent alpha and beta and k range between  2 to 11 and calculate the coherance score
#we get exel file then we check the highest values for each K

import numpy as np
import tqdm
grid = {}
grid['Validation_Set'] = {}
# Topics range
min_topics = 2
max_topics = 11
step_size = 1
topics_range = range(min_topics, max_topics, step_size)
# Alpha parameter
alpha = list(np.arange(0.01, 1, 0.3))
alpha.append('symmetric')
alpha.append('asymmetric')
# Beta parameter
beta = list(np.arange(0.01, 1, 0.3))
beta.append('symmetric')
# Validation sets
num_of_docs = len(corpus)
corpus_sets = [# gensim.utils.ClippedCorpus(corpus, num_of_docs*0.25), 
               # gensim.utils.ClippedCorpus(corpus, num_of_docs*0.5), 
               gensim.utils.ClippedCorpus(corpus, int(num_of_docs*0.75)), 
               corpus]
corpus_title = ['75% Corpus', '100% Corpus']
model_results = {'Validation_Set': [],
                 'Topics': [],
                 'Alpha': [],
                 'Beta': [],
                 'Coherence': []
                }
# Can take a long time to run
if 1 == 1:
    pbar = tqdm.tqdm(total=540)
    
    # iterate through validation corpuses
    for i in range(len(corpus_sets)):
        # iterate through number of topics
        for k in topics_range:
            # iterate through alpha values
            for a in alpha:
                # iterare through beta values
                for b in beta:
                    # get the coherence score for the given parameters
                    cv = compute_coherence_values(corpus=corpus_sets[i], dictionary=id2word, 
                                                  k=k, a=a, b=b)
                    # Save the model results
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
                    
                    pbar.update(1)
    pd.DataFrame(model_results).to_csv('lda_tuning_results.csv', index=False , encoding="utf-8-sig")
    pbar.close()

# Phase6 : Modeling

In [ ]:
## for our modeling we get appropriate number for topics is 5 and alpha =symmetric , beta=0.91
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=5, id2word=dictionary, alpha='symmetric', eta=0.91)

In [ ]:
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

# Phase7 : Performance evaluation

In [ ]:
processed_docs = df['stem_meaningful']
processed_docs[50]

In [ ]:
for index, score in sorted(lda_model_tfidf[corpus_tfidf[50]], key=lambda tup: -1*tup[1]):
    print("\nScore: {}\t \nTopic: {}".format(score, lda_model_tfidf.print_topic(index, 10)))

In [ ]:
unseen_review = 'التطبيق يرفض تسجيل الدخول'
#Tokenize the unseen review into words
tokens = [word for word in unseen_review.split()]
bow_vector = dictionary.doc2bow((tokens))

for index, score in sorted(lda_model_tfidf[bow_vector], key=lambda tup: -1*tup[1]):
    print("Score: {}\t Topic: {}".format(score, lda_model_tfidf.print_topic(index, 5)))

In [ ]:
unseen_review = 'االتطبيق مشكله فنيه يغلق نفسه  '
#Tokenize the unseen review into words
tokens = [word for word in unseen_review.split()]
bow_vector = dictionary.doc2bow((tokens))

for index, score in sorted(lda_model_tfidf[bow_vector], key=lambda tup: -1*tup[1]):
    print("Score: {}\t Topic: {}".format(score, lda_model_tfidf.print_topic(index, 5)))

In [ ]:
import pyLDAvis.sklearn
panel = pyLDAvis.sklearn.prepare(lda_model_tfidf, matrix, vectorizer, mds='tsne')
pyLDAvis.display(panel)